.python-version
__pycache__


*.onnx
*.out

env
wandb
training_data
trained_models
test_set
testing_data
test_set_png

.ipynb_checkpoints
res.pkl

2022-07-21-161530_SSAF_start_at_peak_focus.zip
infer_on_steps.sh
